// fonts
$f-montserrat: 'Montserrat', sans-serif;
$f-roboto: 'Roboto', sans-serif;

// couleurs
$c-status-open: #d1495b; // Ouvert
$c-status-underway: #edae49; // En cours
$c-status-closed: #30638e; // Fermé
$c-background: #fdffff;
$c-frame: #f3fcff;
$c-text: #011936;
$c-selected: #182e48;
$c-blue-grey: lighten($c-status-closed, 60%);

// tailles
$s-header: 50px;
$s-footer: 80px;
$s-base-margin: 2em;

// border-radius
$br-mobile: 5px;
