.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $c-status-underway;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  margin: 1rem auto;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: darken($c-status-underway, 15%);
  }
}

.submit-login {
  position: absolute;
  bottom: 1rem;
  left: 30%;
}

/*----------------------------------------------------------------------------------
-------------------------------------  TABLETTE ------------------------------------
----------------------------------------------------------------------------------*/

@media (min-width: 599px) {
  .submit-login {
    left: 38%;
  }
}

@media (min-width: 899px) {
  .submit-login {
    bottom: 2rem;
    left: 41%;
  }
}

/*----------------------------------------------------------------------------------
-------------------------------------  DESKTOP ------------------------------------
----------------------------------------------------------------------------------*/

@media (min-width: 1199px) {
  .submit-login {
    left: 42%;
  }
}

@media (min-width: 1399px) {
  .submit-login {
    left: 43%;
  }
}

@media (min-width: 1599px) {
  .submit-login {
    left: 44%;
  }
}
